<h3>Transfer summary</h3>

<% if @current_transfer_selections&.any? %>
  <h4>Transfers (<%= @current_transfer_selections.length %> <%= 'transfer'.pluralize(@current_transfer_selections.length) %>)</h4>
  <table class="table table-striped transfer-summary">
    <tr>
      <th scope="col">Out</th>
    </tr>
    <tr>
    <% @replaced_picks.each do |transfer| %>
      <td><%= transfer.name %> for <%= transfer.competition.name %></td>
    <% end %>
    </tr>
  </table>
  <table class="table table-striped transfer-summary">
    <tr>
      <th scope="col">In</th>
    </tr>
    <tr>
    <% @current_transfer_selections.each do |transfer| %>
      <td><%= transfer.name %> for <%= transfer.competition.name %></td>
    <% end %>
    </tr>
  </table>
<% end %>

<% if @outbound_captain.present? && @inbound_captain.present? %>
  <h4>Captain transfer (1 transfer)</h4>
  <table class="table table-striped transfer-summary">
    <tr>
      <th scope="col">Out</th>
    </tr>
    <tr>
      <td><%= @outbound_captain.name %> for <%= @outbound_captain.competition.name %></td>
    </tr>
  </table>
  <table class="table table-striped transfer-summary">
    <tr>
      <th scope="col">In</th>
    </tr>
    <tr>
      <td><%= @inbound_captain.name %> for <%= @inbound_captain.competition.name %></td>
    </tr>
  </table>
<% end %>

<h5>You are about to make <%= 'transfer'.pluralize(@active_transfer_count) %></h5>
