<h1>Update team name and your picks</h1>
<p>You can come back and upate these before midnight on 31st Decemeber 2019.</p>
<%= form_for(@team, url: team_path(params[:id]), method: :patch) do |f| %>
  <%= render 'shared/team_error_messages' %>
  <%= f.label :name, 'Your team name', :required => true %>
  <%= f.text_field :name %>
  
  <%= f.fields_for :picks do |pick| %>
    <% competition = @competitions[pick.index] %>
    <%= pick.label competition.name %>
    <%= pick.collection_select :competitor_id, @competitors.select { |competitor| competitor.competition_id == competition.id }, :id , :name, include_blank: false %>
  <% end %>

  <div id="team_captain_id"></div>

  <%= f.submit 'Submit' %>

  <% content_for :javascript do %>
    <script type='text/javascript'>
      $(document).on('turbolinks:load', function() {
        new CaptainSelect('<%= @current_captain.id %>');
      });
    </script>
  <% end %>
<% end %>