<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Make transfers</h1>
      <h3 id="favourite_count">You currently have <span class='fav-count'><%= pluralize(@favourite_count, 'favourite') %></span> selected</h3>
      <h3 id="transfers_count">You currently have <span class='transfers-count'><%= pluralize(@transfers_count, 'transfers') %></span> remaining</h3>
      <%= bootstrap_form_for(@team, url: team_path(params[:id]), method: :patch, inline_errors: false) do |f| %>
        <%= render 'shared/team_error_messages' %>
        <%= f.text_field :name, label: "Team Name", :required => true %>
        <%= f.fields_for :picks do |pick| %>
          <% competition = @competitions[pick.index] %>
          <%= pick.label competition.id, competition.name %>
          <br>
          <% if competition.transfer_window_open? %>
            <%= pick.collection_select :competitor_id, @competitors.select { |competitor| competitor.competition_id == competition.id }, :id , :name_with_favourite_status, { hide_label: true }, { include_blank: false } %>
          <% else %>
            <small>Transfer unavailable</small>
            <%= pick.collection_select :competitor_id, @competitors.select { |competitor| competitor.competition_id == competition.id }, :id , :name_with_favourite_status, { hide_label: true }, { include_blank: false, disabled: 'disabled'} %>
          <% end %>
        <% end %>
        <div id="team_captain_id"></div>
        <%= f.submit 'Submit', class: 'btn btn-primary btn-block block-page-btn' %>
        <% content_for :javascript do %>
          <script type='text/javascript'>
            $(document).on('turbolinks:load', function() {
              new TeamSelection('<%= @current_captain.id %>');
            });
          </script>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script>
  var count = $('h3#favourite_count')
  var stickyClassAdded = false;
  $(document).on('scroll', function() {
  var countPosition = count[0].getBoundingClientRect().top;
    if (countPosition <= 1 && !stickyClassAdded) {
      stickyClassAdded = true;
      count.addClass('scroll-padding')
    } else if (countPosition > 1 && stickyClassAdded) {
      stickyClassAdded = false;
      count.removeClass('scroll-padding')
    }
  });
</script>
