<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Update team name and your picks</h1>
      <h3 id="favourite_count">You currently have <span class='fav-count'><%= pluralize(@favourite_count, 'favourite') %></span> selected</h3>
      <%= bootstrap_form_for(@team, url: team_path(params[:id]), method: :patch, inline_errors: false) do |f| %>
        <%= render 'shared/team_error_messages' %>
        <%= f.text_field :name, label: "Your team name (required)", :required => true %>
        <%= f.fields_for :picks do |pick| %>
          <% competition = @competitions[pick.index] %>
          <%= pick.label competition.id, competition.name %>
          <br>
          <%= link_to '(view competition info)', competition_path(competition), target: '_blank' %>
          <%= pick.collection_select :competitor_id, @competitors.select { |competitor| competitor.competition_id == competition.id }, :id , :name_with_favourite_status, include_blank: false, hide_label: true %>
        <% end %>
        <div id="team_captain_id"></div>
        <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
        <% content_for :javascript do %>
          <script type='text/javascript'>
            $(document).on('turbolinks:load', function() {
              new TeamSelection('<%= @current_captain.id %>');
            });
          </script>
        <% end %>
      <% end %>
    <h5 class="text-center">You can come back and upate these before midnight on 31st December 2019.</h5>
    </div>
  </div>
</div>
<script>
  var count = $('h3#favourite_count')
  var stickyClassAdded = false;
  $(document).on('scroll', function() {
  var countPosition = count[0].getBoundingClientRect().top;
    if (countPosition <= 1 && !stickyClassAdded) {
      stickyClassAdded = true;
      count.addClass('scroll-padding')
    } else if (countPosition > 1 && stickyClassAdded) {
      stickyClassAdded = false;
      count.removeClass('scroll-padding')
    }
  });
</script>
