<h1>Choose a team name and make your picks</h1>
<p>You can come back and upate these before midnight on 31st Decemeber 2019.</p>
<%= form_for(@team, url: teams_path) do |f| %>
  <%= render 'shared/team_error_messages' %>
  <%= f.label :name, 'Your team name' %>
  <%= f.text_field :name %>

  <% @competitions.each do |competition| %>
  <%= f.fields_for :picks do |pick| %>
    <%= pick.collection_select :competitor_id, Competitor.where(competition_id: competition.id), :id , :name, include_blank: false %>
    <% end %>
  <% end %>

  <%= f.submit 'Submit' %>
<% end %>