<h1>Choose a team name and make your picks</h1>
<p>You can come back and upate these before midnight on 31st Decemeber 2019.</p>
<%= form_for(@team, url: teams_path) do |f| %>
  <%= render 'shared/team_error_messages' %>
  <%= f.label :name, 'Your team name' %>
  <%= f.text_field :name %>

  <%= f.fields_for :picks do |pick| %>
    <% competition = @competitions[pick.index] %>
    <%= pick.label competition.name %>
    <%= pick.collection_select :competitor_id, @competitors.select { |competitor| competitor.competition_id == competition.id }, :id , :name_with_favourite_status, include_blank: false %>
  <% end %>

  <div id="team_captain_id"></div>

  <p>Favourites selected: <span class="favourite-count">0</span></p>

  <%= f.submit 'Submit' %>

  <% content_for :javascript do %>
    <script type='text/javascript'>
      $(document).on('turbolinks:load', function() {
        new CaptainSelect('<%= @current_captain.id %>');
        new FavouriteCount();
      });
    </script>
  <% end %>
<% end %>
