<div class="container">
  <div class="row">
      <h1 class="text-center">Choose a team name and make your picks</h1>
      <h5 class="text-center">Please note: you can come back and upate these before midnight on 31st Decemeber 2019.</h5>
    <div class="col-md-6 col-md-offset-3">
      <%= bootstrap_form_for(@team, url: teams_path) do |f| %>
        <%= render 'shared/team_error_messages' %>
        <%= f.text_field :name, label: "Your team name (can't be blank)" %>
        <%= f.fields_for :picks do |pick| %>
          <% competition = @competitions[pick.index] %>
          <%= pick.label competition.name %>
          <%= pick.collection_select :competitor_id, @competitors.select { |competitor| competitor.competition_id == competition.id }, :id , :name_with_favourite_status, include_blank: false, hide_label: true %>
        <% end %>
        <div id="team_captain_id"></div>
        <h3 id="favourite_count">You currently have <span class='fav-count'><%= pluralize(@favourite_count, 'favourite') %></span> selected</h3>
        <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
        <% content_for :javascript do %>
          <script type='text/javascript'>
            $(document).on('turbolinks:load', function() {
              new TeamSelection('<%= @current_captain.id %>');
            });
          </script>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



