<%= render 'layouts/payment_notice' %>
<div class="container">
  <div class="row">
    <div class=" col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
      <div class="deadline-text-wrapper card with-padding">
          <% if @team.user == current_user %>
            <% if current_user.can_make_transfers? %>
              <%= link_to "Make Transfers", edit_team_path(@team), class: 'btn btn-primary block-page-btn' %>
            <% end %>
          <% end %>
        </div>
      <div class="team-info-wrapper card"> 
        <h3 class="text-muted"><%= @team.name %> (<%= @team.points%>pts)</h3>
      </div>
      <ul class="list-group card">
      <% @team.picks.each do |pick| %>
      <% next unless pick.competitor.competition.active? %>
        <% pick_favourite_status = pick.competitor.is_favourite? %>
        <% pick_captain_status = pick.competitor.id == @team.captain.id %>
        <li
          class="list-group-item <%= pick_favourite_status ? 'favourite-color' : '' %> <%= pick_captain_status ? 'captain-color' : '' %>"
        >
          <%= pick.competitor.name %> for <%= pick.competitor.competition.name %> (<%= pick.competitor.team_points(@team) %>pts)
          <% if pick_favourite_status %>
            <span class="pick-status-label">(Favourite)</span>
          <% elsif pick_captain_status %>
            <span class="pick-status-label">(Captain)</span>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
