<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="text-muted">Team name</h3>
      <h4><%= @team.name %></h4>
      <h3 class="text-muted">Points</h3>
      <h4><%= @team.points %></h4>
      <h3 class="text-muted">Picks</h3>
      <ul class="list-group"">
      <% @team.picks.each do |pick| %>
        <li class="list-group-item <%= pick.competitor.is_favourite? ? 'favourite-color' : '' %> <%= pick.competitor.id == @team.captain.id ? 'captain-color' : '' %>"><%= pick.competitor.name_with_favourite_status %> for <%= pick.competitor.competition.name %></li>
      <% end %>
      </ul>

      <% if before_update_team_deadline? && @team.user == current_user %>
        <h4>You can update your team until 31st December 2019. <%= link_to 'Click here', edit_team_path(@team) %> to do so.</h4>
      <% end %>

      <% if !before_update_team_deadline? %>
        <h4>The team update deadline has now passed.</h4>
      <% end %>
    </div>
  </div>
</div>

<style>
  .favourite-color
  {
    background-color: #FFEF6F;
    border: 1px solid #FFEF6F;
  }
  .captain-color
  {
    background-color: #91d67c;
    border: 1px solid #91d67c;
  }
</style>
