<div class="container">
  <div class="row">
    <div class=" col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
      <div class="deadline-text-wrapper card">
          <% if before_update_team_deadline? && @team.user == current_user %>
            <%= link_to "Change My Team", edit_team_path(@team), class: 'btn btn-primary block-page-btn' %>
          <% end %>

          <% if !before_update_team_deadline? %>
            <h4>The team update deadline has now passed.</h4>
          <% end %>
        </div>
      <div class="team-info-wrapper card"> 
        <h3 class="text-muted"><%= @team.name %> (<%= @team.points%>pts)</h3>
      </div>
      <ul class="list-group card">
      <% @team.picks.each do |pick| %>
        <li class="list-group-item">
          <%= pick.competitor.name_with_favourite_status %> for <%= pick.competitor.competition.name %>
          <% if pick.competitor.is_favourite? %>
            <%= image_tag("btf_logo_red.png", size: "50x26", alt: "BTF Logo", class: 'btf-logo') %>
          <% end %>
          <% if pick.competitor.id == @team.captain.id %>
            <%= image_tag("captains-armband.png", size: "50x26", alt: "BTF Logo", class: 'captains-logo') %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
