<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1 class="text-center">Leagues</h1>
      <% if current_user.has_created_a_team? %>
        <i><%= link_to 'Click here to create your own mini league', new_league_path %></i>
      <% end %>
      <ul>
        <% @leagues.each do |league| %>
          <% if league.is_btf_main_league? %>
            <li><h3><%= link_to league.name, league %></h3></li>
            <h3>User created leagues</h3>
          <% else %>
            <li><%= link_to league.name, league %> (<%= league.user.first_name %> <%= league.user.last_name %>)</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

