<% league = @league %>
<% league_id = league.id %>
<% league_name = league.name %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="league-info-wrapper card">
        <h1><%= league_name %></h1>
        <hr>
        <% if current_user.has_created_a_team? %>
          <% unless current_user.owns_league?(league_id) || league.is_btf_main_league? %>
            <% if current_user.team.belongs_to_league?(league_id)%>
              <%= button_to "Leave league", league_membership_path, method: :delete, params: { league_id: league_id, team_id: current_user.team.id }, class: 'btn btn-primary block-page-btn' %>
            <% else %>
              <%= button_to "Join league", league_memberships_path, method: :post, params: { league_id: league_id, team_id: current_user.team.id }, class: 'btn btn-primary block-page-btn' %>
            <% end %>
          <% end %>
        <% end %>
        <% if league.is_btf_main_league? %>
          <h3 class="text-muted">Prize Money</h3>
          <% if league.prize_money == 0 %>
            <h4>TBC</h4>
          <% else %>
            <h4><%= league.prize_money %></h4>
          <% end %>
        <% end %>
        <h3 class="text-muted">Teams (<%= league.teams.count %> <%= 'team'.pluralize(league.teams.count) %> participating)</h3>
      </div>
      <ol class="list-group card"">
        <% league.teams.each.with_index(1) do |team, index| %>
          <li class="list-group-item">
            <span class="league-position"><%= index %>.</span>
            <span class="team-info"><%= team.name %> (<%= team.user.first_name %> <%= team.user.last_name %>)</span>
            <span class="team-points"><%= team.points %>pts</span>
          </li>
        <% end %>
      </ol>
      <p><%= link_to 'View all leagues', leagues_path %></p>
    </div>
  </div>
</div>

