<% league = @league %>
<% league_id = league.id %>
<% league_name = league.name %>

<%= render 'layouts/payment_notice' %>
<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="league-info-wrapper card with-padding">
        <h1><%= league_name %></h1>
        <p><%= link_to 'Back to all leagues', leagues_path, class: 'btn btn-primary block-page-btn' %></p>
        <hr>
        <% if current_user.has_created_a_team? %>
          <% unless current_user.owns_league?(league_id) || league.is_btf_main_league? %>
            <% if current_user.team.belongs_to_league?(league_id)%>
              <%= button_to "Leave league", league_membership_path, method: :delete, params: { league_id: league_id, team_id: current_user.team.id }, class: 'btn btn-primary block-page-btn' %>
            <% else %>
              <%= button_to "Join league", league_memberships_path, method: :post, params: { league_id: league_id, team_id: current_user.team.id }, class: 'btn btn-primary block-page-btn' %>
            <% end %>
          <% end %>
        <% end %>
        <% if league.is_btf_main_league? %>
          <h3 class="text-muted">Prize Money</h3>
          <% if league.prize_money == 0 %>
            <h4>TBC</h4>
          <% else %>
            <h4><%= league.prize_money %></h4>
          <% end %>
        <% end %>
        <h3 class="text-muted">Teams (<%= league.teams.count %> <%= 'team'.pluralize(league.teams.count) %> participating)</h3>
      </div>
      <ol class="list-group card"">
        <% league.teams.each.with_index(1) do |team, index| %>
          <%= link_to team do %>
            <li class="list-group-item<%= ' current-users-team' if team == current_user.team %>">
                <span class="league-position"><%= index %>.</span>
                <div class="team-info">
                  <span class="team-name"><%= team.name %></span>
                  <span class="user-name">(<%= team.user.first_name %> <%= team.user.last_name %>)</span>
                </div>
                <span class="team-points"><%= team.points %>pts</span>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
</div>

