<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="text-muted">Name</h3>
      <h4><%= @competition.name %></h4>
      <h3 class="text-muted">Start date</h3>
      <h4><%= @competition.start_date %></h4>
      <h3 class="text-muted">End date</h3>
      <h4><%= @competition.end_date %></h4>
      <h3 class="text-muted">Competitors</h3>
      <ul class="list-group"">
      <% @competition.competitors.each do |competitor| %>
        <li 
          class="list-group-item 
          <%= competitor.id == @competition.favourite_id ? 'favourite-color' : '' %>"
        >
          <%= competitor.name_with_favourite_status %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
