<h1>This is your dashboard, <%= @current_user.first_name %></h1>

<% unless @current_user.has_created_a_team? %>
  <p>We notice you haven't made your picks yet. <%= link_to "click here", new_team_path %> to do so.</p>
<% end %>

<% if @current_user.has_created_a_team? %>
  <% team = @current_user.team %>
  <p>View your team: <%= link_to "#{team.name}", team_path(team) %> (<%= team.points %>pts)</p>
  <p>Leagues you are competing in:</p>
  <ul>
    <% team.leagues.each do |league| %>
      <li><%= link_to league.name, league_path(league) %> (<%= league.position(team).ordinalize %>)</li>
    <%end %>
  </ul>
  <% unless @current_user.has_created_a_league? %>
    <p><%= link_to 'Create your own mini league', new_league_path %></p>
  <% end %>
  <p><%= link_to 'View all leagues', leagues_path %></p>
<% end %>