<h1>This is your dashboard, <%= @current_user.first_name %></h1>

<% unless @current_user.has_created_a_team? %>
  <p>We notice you haven't made your picks yet. <%= link_to "click here", new_team_path %> to do so.</p>
<% end %>

<% if @current_user.has_created_a_team? %>
  <% team = @current_user.team %>
  <p>View your team: <%= link_to "#{team.name}", team_path(team) %></p>
  <p>Leagues you are competing in:</p>
  <ul>
    <% team.league_memberships.each do |league_membership| %>
      <li><%= link_to league_membership.league.name, league_path(league_membership.league) %></li>
    <%end %>
  </ul>
  <% unless @current_user.has_created_a_league? %>
    <p><%= link_to 'Create your own mini league', new_league_path %></p>
  <% end %>
  <p><%= link_to 'View all leagues', leagues_path %></p>
<% end %>