<!DOCTYPE html>
<html>
  <head>
    <title>BtfApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/header_navigation' %>
  <% render 'layouts/payment_notice' %>
  <body>
    <div class="container">
      <%= render 'shared/flash_messages' %>
    </div>
    <%= yield %>
    <%= yield :javascript %>
  </body>
    <%= render 'layouts/footer' %>
</html>
