<!DOCTYPE html>
<html>
  <head>
    <title>BtfApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header_navigation' %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
